In [1]:
from os import path
import owlready2
from owlready2 import *
import pandas as pd


"""python functions to manage E-Learner ontology 
This class will contains the methods to build e-Learner ontology.
 """
onto = get_ontology("http://elear2.org/onto.owl")

#functions to create Ontology class
with onto:
 class Learner(Thing):
    pass
    
 class Age(DataProperty):
        domain = [Learner]
        range=[int]
 class Name(DataProperty):
        domain = [Learner]
        range=[str]
 class Gender(DataProperty):
        domain = [Learner]
        range=[str]
 class Qualification(DataProperty):
        domain = [Learner]
        range=[int] 
 class Branch(DataProperty):
        domain = [Learner]
        range=[str]
 class Background_Knowledge(DataProperty):
        domain = [Learner]
        range=[int]
 class Active_Reflective(DataProperty):
        domain = [Learner]
        range=[int] 
 class AR_Value(DataProperty):
        domain = [Learner]
        range=[int] 
 class Sensitive_Intutive(DataProperty):
        domain = [Learner]
        range=[int]
 class S_I_Value(DataProperty):
        domain = [Learner]
        range=[int]
 class Visual_Verbal(DataProperty):
        domain = [Learner]
        range=[int]
 class V_V_Value(DataProperty):
        domain = [Learner]
        range=[int]
 class Global_Sequential(DataProperty):
        domain = [Learner]
        range=[int]
 class G_S_Value(DataProperty):
        domain = [Learner]
        range=[int]
   
#check wether value is dominant
def isDominant(score):
    score_min=score-50
    if score_min>0:
        return True
    else:
        return False

def activeOrReflective(score):
    if isDominant(score):
        return 1
    else:
        return 0
    
def sensitiveOrIntutive(score):
    if isDominant(score):
        return 1
    else:
        return 0
def visualOrVerbal(score):
    if isDominant(score):
        return 1
    else:
        return 0
def Global_Sequential(score):
    if isDominant(score):
        return 1
    else:
        return 0

In [2]:
xls = pd.ExcelFile('LearnerOntology_InitialDataLoad.xlsx')
df1 = pd.read_excel(xls, 'learner_static')
df2 = pd.read_excel(xls, 'learning_style')
learner_data=pd.merge(df1,df2,how='inner',on='SID')
learner_data['Active_Reflective']=''
learner_data['Sensitive_Intutive']=''
learner_data['Visual_Verbal']=''
learner_data['Global_Sequential']=''
columns=list(learner_data.columns) 
learner_data['Active_Reflective'] = learner_data.apply(lambda x: activeOrReflective(x.Active), axis=1)
learner_data['Sensitive_Intutive'] =learner_data.apply(lambda x: sensitiveOrIntutive(x.Sensitive), axis=1)
learner_data['Visual_Verbal'] =learner_data.apply(lambda x: visualOrVerbal(x.Visual), axis=1)
learner_data['Global_Sequential'] =learner_data.apply(lambda x: Global_Sequential(x.Global), axis=1)
learner_data

,SID,Name,Age,Gender,Qualification,Branch(Specilization),Background Knowledge,Active,Sensitive,Visual,Global,Active_Reflective,Sensitive_Intutive,Visual_Verbal,Global_Sequential
0,1,L1,18,M,HS,Mathematics with Computer,Intermediate,70,40,60,50,1,0,1,0
1,2,L2,19,M,HS,Science,Intermediate,60,70,20,40,1,1,0,0
2,3,L3,17,M,HS,Mathematics with Computer,Expert,47,62,49,28,0,1,0,0
3,4,L4,19,M,HS,Science,Basic,30,65,81,36,0,1,1,0
4,5,L5,18,M,HS,Mathematics with Computer,Intermediate,78,34,23,87,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,L96,26,F,Post-Graduate,MSc Computer Science,Intermediate,65,67,58,45,1,1,1,0
96,97,L97,25,F,Post-Graduate,Master of Computer Applications,Basic,76,86,43,29,1,1,0,0
97,98,L98,27,F,Post-Graduate,MTech Computer Science,Expert,75,34,22,62,1,0,0,1
98,99,L99,28,F,Post-Graduate,MSc Computer Science,Basic,76,37,69,49,1,0,1,0
99,100,L100,29,F,Post-Graduate,MSc Computer Science,Intermediate,54,57,54,24,1,1,1,0

In [3]:
Background=list(learner_data['Background Knowledge'].unique())
Qualification=list(learner_data['Qualification'].unique())
def findBK(bk):
    return Background.index(bk)
def findQual(qual):
    return Qualification.index(qual)
def spaceRemove(mystring):
    return mystring.replace(" ", "_")

learner_data['Background Knowledge'] =learner_data.apply(lambda x: findBK(x['Background Knowledge']), axis=1)
learner_data['Qualification'] =learner_data.apply(lambda x: findQual(x['Qualification']), axis=1)
learner_data['Branch(Specilization)']=learner_data.apply(lambda x: spaceRemove(x['Branch(Specilization)']), axis=1)
learner_data

,SID,Name,Age,Gender,Qualification,Branch(Specilization),Background Knowledge,Active,Sensitive,Visual,Global,Active_Reflective,Sensitive_Intutive,Visual_Verbal,Global_Sequential
0,1,L1,18,M,0,Mathematics_with_Computer,0,70,40,60,50,1,0,1,0
1,2,L2,19,M,0,Science,0,60,70,20,40,1,1,0,0
2,3,L3,17,M,0,Mathematics_with_Computer,1,47,62,49,28,0,1,0,0
3,4,L4,19,M,0,Science,2,30,65,81,36,0,1,1,0
4,5,L5,18,M,0,Mathematics_with_Computer,0,78,34,23,87,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,L96,26,F,2,MSc_Computer_Science,0,65,67,58,45,1,1,1,0
96,97,L97,25,F,2,Master_of_Computer_Applications,2,76,86,43,29,1,1,0,0
97,98,L98,27,F,2,MTech_Computer_Science,1,75,34,22,62,1,0,0,1
98,99,L99,28,F,2,MSc_Computer_Science,2,76,37,69,49,1,0,1,0
99,100,L100,29,F,2,MSc_Computer_Science,0,54,57,54,24,1,1,1,0

In [4]:
   #create student individual 
def createStudentIndividual(stud):
    """This method will create Student Object"""
    print(stud)
    studobj=Learner() 
    studobj.Name.append(stud[1])
    studobj.Age.append(stud[2])
    studobj.Gender.append(stud[3])
    studobj.Qualification.append(stud[4])
    studobj.Branch.append(stud[5])
    studobj.Background_Knowledge.append(stud[6])
    studobj.Active_Reflective.append(stud[11])
    studobj.AR_Value.append(stud[7])
    studobj.Sensitive_Intutive.append(stud[12])
    studobj.S_I_Value.append(stud[8])
    studobj.Visual_Verbal.append(stud[13])
    studobj.V_V_Value.append(stud[9])
    studobj.Global_Sequential.append(stud[14])
    studobj.G_S_Value.append(stud[10])
    return
     #convert csv input to learmer ontology
def csv2StudOnto(df):
    """ read csv_file using pandas,csv_file=file name"""
    for row in df.itertuples():#iterate through rows
        createStudentIndividual(list(row[1:]))#get each rows, skip first value
    #save ontology to a File
def saveOntology(file_format="rdfxml"):
    onto.save(file = 'ontos5.owl', format = file_format)

In [5]:
from owlready2 import *

class SparqlQueries:
    def __init__(self):
        my_world = World()
        my_world.get_ontology("file://ontos5.owl").load() #path to the owl file is given here
        sync_reasoner(my_world)  #reasoner is started and synchronized here
        self.graph = my_world.as_rdflib_graph()

    def search(self,stud_data):
        """ The main sparql query execution is happening here. para@stud_data is a list"""
    #Search query is given here
    #Base URL of your ontology has to be given here
    # Query is given here
        query_prefix='PREFIX ants: <http://elear2.org/onto.owl#> PREFIX xsd: <http://www.w3.org/2001/XMLSchema#> '
              
        query_filter=' FILTER ((?Active_Reflective ="'+stud_data[0]+'"^^xsd:integer) && '
        query_filter=query_filter+'(?Sensitive_Intutive ="'+stud_data[1]+'"^^xsd:integer)'
        query_filter=query_filter+' && (?Visual_Verbal ="'+stud_data[2]+'"^^xsd:integer)'
        query_filter=query_filter+' && (?Global_Sequential ="'+stud_data[3]+'"^^xsd:integer)'
        query_filter=query_filter+' && (?Qualification ="'+stud_data[4]+'"^^xsd:integer)'
        query_filter=query_filter+') }'
        query =query_prefix+'SELECT * WHERE {?name ants:Qualification ?Qualification.?name ants:Global_Sequential ?Global_Sequential.?name ants:Visual_Verbal ?Visual_Verbal. ?name ants:Active_Reflective ?Active_Reflective. ?name ants:Sensitive_Intutive ?Sensitive_Intutive. ?name ants:Age ?Age. ?name ants:Name ?Name.'+query_filter
        print(query)
    #query is being run
        resultsList = self.graph.query(query)
        print(resultsList)


        response = []
        for item in resultsList:
            age = str(item['Age'].toPython())
            age = re.sub(r'.*#',"",age)
            asr = str(item['Active_Reflective'].toPython())
            asr = re.sub(r'.*#', "", asr)
            Name = str(item['Name'].toPython())
            Name = re.sub(r'.*#', "", Name)
            Visual = str(item['Visual_Verbal'].toPython())
            Visual = re.sub(r'.*#', "", Visual)
            Global_Seq = str(item['Global_Sequential'].toPython())
            Global_Seq = re.sub(r'.*#', "", Global_Seq)
            Qul = str(item['Qualification'].toPython())
            Qul = re.sub(r'.*#', "", Qul)
            response.append([Name,age,asr,Visual,Global_Seq,Qul])
        return response;

        
runQuery = SparqlQueries()
stud_list=list(['1','1','1','0','1'])  
#input parameters of new student [Active_Reflective,Sensitive_Intutive,Visual_Verbal,Qualification]
#you can change this list values
response=runQuery.search(stud_list)
df =pd.DataFrame(response,columns=['Name','Age','AR_Value','Visual_Verbal','Global_Seq','Qualification'])
df

* Owlready2 * Running HermiT...
    java -Xmx2000M -cp C:\ProgramData\Anaconda3\lib\site-packages\owlready2\hermit;C:\ProgramData\Anaconda3\lib\site-packages\owlready2\hermit\HermiT.jar org.semanticweb.HermiT.cli.CommandLine -c -O -D -I file:///C:/Users/ANTCOL~1/AppData/Local/Temp/tmpnwwtvjkq
* Owlready2 * HermiT took 1.302837610244751 seconds
* Owlready * (NB: only changes on entities loaded in Python are shown, other changes are done but not listed)

PREFIX ants: <http://elear2.org/onto.owl#> PREFIX xsd: <http://www.w3.org/2001/XMLSchema#> SELECT * WHERE {?name ants:Qualification ?Qualification.?name ants:Global_Sequential ?Global_Sequential.?name ants:Visual_Verbal ?Visual_Verbal. ?name ants:Active_Reflective ?Active_Reflective. ?name ants:Sensitive_Intutive ?Sensitive_Intutive. ?name ants:Age ?Age. ?name ants:Name ?Name. FILTER ((?Active_Reflective ="1"^^xsd:integer) && (?Sensitive_Intutive ="1"^^xsd:integer) && (?Visual_Verbal ="1"^^xsd:integer) && (?Global_Sequential ="0"^^xsd:integer) && (?Qualification ="1"^^xsd:integer)) }
<rdflib.plugins.sparql.processor.SPARQLResult object at 0x0000000009267C08>

   Name Age AR_Value Visual_Verbal Global_Seq Qualification
0   L40  22        1             1          0             1
1   L44  21        1             1          0             1
2   L46  22        1             1          0             1
3   L53  22        1             1          0             1
4   L72  23        1             1          0             1
5   L73  22        1             1          0             1
6   L40  22        1             1          0             1
7   L44  21        1             1          0             1
8   L46  22        1             1          0             1
9   L53  22        1             1          0             1
10  L72  23        1             1          0             1
11  L73  22        1             1          0             1
12  L40  22        1             1          0             1
13  L44  21        1             1          0             1
14  L46  22        1             1          0             1
15  L53  22        1             1          0             1
16  L72  23        1             1          0             1
17  L73  22        1             1          0             1
18  L40  22        1             1          0             1
19  L44  21        1             1          0             1
20  L46  22        1             1          0             1
21  L53  22        1             1          0             1
22  L72  23        1             1          0             1
23  L73  22        1             1          0             1