In [17]:
import numpy as np
import pandas as pd
import string
from sklearn.cluster import KMeans
x=[[11,'raju',100,80,38,34,45],[11,'rajdu',1100,80,38,34,45],[11,'radju',0,70,38,34,45],[11,'radsju',100,80,38,34,45]]
pd.DataFrame(x,columns=['sid','Name','bk','a','b','c','d'])

   sid    Name    bk   a   b   c   d
0   11    raju   100  80  38  34  45
1   11   rajdu  1100  80  38  34  45
2   11   radju     0  70  38  34  45
3   11  radsju   100  80  38  34  45

In [18]:
y=[('L1', 'Intermediate', 1), ('L2', 'Intermediate', 2), ('L3', 'Expert', 3), ('L4', 'Basic', 4), ('L5', 'Intermediate', 5), ('L6', 'Expert', 6), ('L7', 'Basic', 7), ('L8', 'Intermediate', 8), ('L9', 'Expert', 9), ('L10', 'Intermediate', 10), ('L11', 'Basic', 11), ('L12', 'Intermediate', 12), ('L13', 'Intermediate', 13), ('L14', 'Intermediate', 14), ('L15', 'Intermediate', 15), ('L16', 'Expert', 16), ('L17', 'Intermediate', 17), ('L18', 'Basic', 18), ('L19', 'Expert', 19), ('L20', 'Intermediate', 20)]

In [19]:
pd.DataFrame(y)

      0             1   2
0    L1  Intermediate   1
1    L2  Intermediate   2
2    L3        Expert   3
3    L4         Basic   4
4    L5  Intermediate   5
5    L6        Expert   6
6    L7         Basic   7
7    L8  Intermediate   8
8    L9        Expert   9
9   L10  Intermediate  10
10  L11         Basic  11
11  L12  Intermediate  12
12  L13  Intermediate  13
13  L14  Intermediate  14
14  L15  Intermediate  15
15  L16        Expert  16
16  L17  Intermediate  17
17  L18         Basic  18
18  L19        Expert  19
19  L20  Intermediate  20

In [20]:
R=('L1', 'Intermediate', 1)

In [21]:
R[2]

1

In [22]:
y= [['1', 'Intermediate', 70, 40, 51, 60], ['2', 'Intermediate', 60, 70, 40, 20], ['3', 'Expert', 47, 62, 28, 49], ['4', 'Basic', 30, 65, 36, 81], ['5', 'Intermediate', 78, 34, 87, 23], ['6', 'Expert', 34, 58, 74, 44], ['7', 'Basic', 87, 33, 65, 55], ['8', 'Intermediate', 84, 87, 69, 76], ['9', 'Expert', 23, 84, 34, 24], ['10', 'Intermediate', 65, 76, 45, 58], ['11', 'Basic', 65, 86, 47, 64], ['12', 'Intermediate', 75, 34, 62, 22], ['13', 'Intermediate', 56, 54, 57, 81], ['14', 'Intermediate', 54, 45, 24, 54], ['15', 'Intermediate', 55, 54, 64, 87], ['16', 'Expert', 51, 82, 54, 45], ['17', 'Intermediate', 59, 25, 25, 79], ['18', 'Basic', 85, 46, 26, 84], ['19', 'Expert', 63, 16, 65, 57], ['20', 'Intermediate', 19, 68, 83, 46], ['21', 'Expert', 84, 87, 69, 76], ['22', 'Intermediate', 23, 84, 34, 24], ['23', 'Intermediate', 65, 76, 45, 58], ['24', 'Intermediate', 65, 86, 47, 64], ['25', 'Intermediate', 75, 34, 62, 22], ['26', 'Basic', 56, 54, 57, 81], ['27', 'Intermediate', 54, 45, 24, 54], ['28', 'Basic', 55, 54, 64, 87], ['29', 'Basic', 51, 82, 54, 45], ['30', 'Intermediate', 65, 36, 88, 71], ['31', 'Intermediate', 70, 45, 58, 67], ['32', 'Intermediate', 67, 70, 40, 20], ['33', 'Expert', 47, 62, 28, 49], ['34', 'Basic', 30, 46, 36, 81], ['35', 'Intermediate', 78, 34, 87, 17], ['36', 'Expert', 34, 34, 74, 76], ['37', 'Basic', 87, 44, 65, 55], ['38', 'Intermediate', 84, 87, 69, 54], ['39', 'Expert', 23, 84, 34, 24], ['40', 'Intermediate', 65, 67, 45, 58], ['42', 'Intermediate', 75, 34, 62, 22], ['44', 'Intermediate', 54, 57, 24, 54], ['45', 'Intermediate', 55, 54, 64, 87], ['46', 'Expert', 65, 86, 47, 64], ['47', 'Intermediate', 59, 32, 25, 79], ['48', 'Basic', 85, 46, 26, 84], ['49', 'Expert', 63, 16, 65, 57], ['50', 'Intermediate', 19, 68, 83, 46], ['51', 'Expert', 84, 87, 69, 76], ['52', 'Intermediate', 23, 84, 34, 19], ['53', 'Intermediate', 65, 76, 45, 58], ['55', 'Intermediate', 75, 34, 62, 22], ['56', 'Basic', 56, 80, 57, 81], ['57', 'Intermediate', 54, 45, 24, 54], ['58', 'Basic', 75, 54, 64, 87], ['59', 'Basic', 51, 82, 54, 45], ['60', 'Intermediate', 65, 41, 88, 71], ['61', 'Basic', 75, 34, 62, 22], ['62', 'Expert', 56, 54, 57, 81], ['63', 'Intermediate', 54, 45, 24, 54], ['64', 'Expert', 55, 54, 64, 87], ['65', 'Intermediate', 51, 82, 54, 45], ['66', 'Intermediate', 59, 25, 25, 79], ['67', 'Intermediate', 85, 46, 26, 84], ['68', 'Intermediate', 63, 16, 65, 57], ['69', 'Basic', 19, 68, 83, 46], ['70', 'Intermediate', 84, 87, 69, 76], ['71', 'Basic', 23, 84, 34, 24], ['72', 'Basic', 65, 76, 45, 58], ['73', 'Intermediate', 65, 86, 47, 64], ['74', 'Intermediate', 75, 34, 62, 22], ['75', 'Intermediate', 56, 54, 57, 81], ['76', 'Expert', 54, 45, 24, 54], ['77', 'Basic', 55, 54, 64, 87], ['78', 'Intermediate', 51, 82, 54, 45], ['79', 'Basic', 65, 36, 88, 71], ['80', 'Expert', 70, 45, 58, 67], ['81', 'Intermediate', 75, 34, 62, 22], ['82', 'Expert', 56, 54, 57, 81], ['83', 'Intermediate', 54, 45, 24, 54], ['84', 'Intermediate', 55, 54, 64, 87], ['85', 'Intermediate', 51, 82, 54, 45], ['86', 'Intermediate', 65, 36, 88, 71], ['87', 'Basic', 70, 45, 58, 67], ['88', 'Intermediate', 67, 70, 40, 20], ['89', 'Basic', 47, 62, 28, 49], ['90', 'Basic', 30, 46, 36, 81], ['91', 'Intermediate', 78, 34, 87, 17], ['92', 'Intermediate', 34, 34, 74, 76], ['93', 'Intermediate', 87, 44, 65, 55], ['94', 'Expert', 84, 87, 69, 54], ['95', 'Basic', 23, 84, 34, 24], ['96', 'Intermediate', 65, 67, 45, 58], ['97', 'Basic', 76, 86, 29, 43], ['98', 'Expert', 75, 34, 62, 22], ['99', 'Basic', 76, 37, 49, 69], ['100', 'Intermediate', 54, 57, 24, 54], ['101', 'Expert', 46, 72, 26, 90], ['102', 'Basic', 12, 37, 21, 69], ['103', 'Intermediate', 38, 21, 86, 87], ['104', 'Expert', 28, 23, 89, 79], ['105', 'Intermediate', 42, 32, 16, 94], ['106', 'Basic', 77, 32, 69, 87], ['107', 'Intermediate', 66, 22, 88, 77], ['108', 'Intermediate', 44, 94, 35, 14], ['109', 'Intermediate', 84, 26, 79, 17], ['110', 'Expert', 54, 18, 49, 76], ['111', 'Intermediate', 12, 75, 22, 34], ['112', 'Expert', 76, 76, 69, 37], ['113', 'Intermediate', 82, 54, 54, 57], ['114', 'Intermediate', 36, 46, 90, 72], ['115', 'Intermediate', 29, 12, 69, 37], ['116', 'Intermediate', 80, 38, 87, 21], ['117', 'Basic', 20, 28, 79, 23], ['118', 'Intermediate', 34, 42, 94, 32], ['119', 'Basic', 84, 77, 87, 32], ['120', 'Basic', 21, 66, 77, 22], ['121', 'Intermediate', 39, 44, 14, 94], ['122', 'Intermediate', 68, 84, 17, 26], ['123', 'Expert', 14, 54, 76, 18], ['124', 'Basic', 78, 12, 34, 75], ['125', 'Intermediate', 17, 76, 37, 76], ['126', 'Expert', 51, 51, 40, 70], ['127', 'Basic', 40, 40, 70, 60], ['128', 'Intermediate', 28, 28, 62, 47], ['129', 'Expert', 36, 36, 65, 30], ['130', 'Intermediate', 87, 87, 34, 78], ['131', 'Basic', 74, 74, 58, 34], ['132', 'Intermediate', 65, 65, 33, 87], ['133', 'Intermediate', 69, 69, 87, 84], ['134', 'Intermediate', 34, 34, 84, 23], ['135', 'Intermediate', 45, 45, 76, 65], ['136', 'Expert', 47, 47, 86, 65], ['137', 'Intermediate', 62, 62, 34, 75], ['138', 'Basic', 57, 57, 54, 56], ['139', 'Expert', 24, 24, 45, 54], ['140', 'Intermediate', 64, 64, 54, 55], ['141', 'Expert', 54, 54, 82, 51], ['142', 'Intermediate', 25, 25, 25, 59], ['143', 'Intermediate', 26, 26, 46, 85], ['144', 'Intermediate', 65, 65, 16, 63], ['145', 'Intermediate', 83, 83, 68, 19], ['146', 'Basic', 69, 69, 87, 84], ['147', 'Intermediate', 34, 34, 84, 23], ['148', 'Basic', 45, 45, 76, 65], ['149', 'Basic', 47, 47, 86, 65], ['150', 'Intermediate', 62, 62, 34, 75], ['151', 'Expert', 57, 57, 54, 56], ['152', 'Intermediate', 24, 24, 45, 54], ['153', 'Basic', 64, 64, 54, 55], ['154', 'Expert', 54, 54, 82, 51], ['155', 'Intermediate', 88, 88, 36, 65], ['156', 'Expert', 58, 58, 45, 70], ['157', 'Intermediate', 40, 40, 70, 67], ['158', 'Intermediate', 28, 28, 62, 47], ['159', 'Intermediate', 36, 36, 46, 30], ['160', 'Intermediate', 87, 87, 34, 78], ['161', 'Basic', 74, 74, 34, 34], ['162', 'Intermediate', 65, 65, 44, 87], ['163', 'Basic', 69, 69, 87, 84], ['164', 'Basic', 34, 34, 84, 23], ['165', 'Intermediate', 45, 45, 67, 65], ['166', 'Basic', 29, 29, 86, 76], ['167', 'Expert', 62, 62, 34, 75], ['168', 'Intermediate', 49, 49, 37, 76], ['169', 'Expert', 24, 24, 57, 54], ['170', 'Intermediate', 64, 64, 54, 55], ['171', 'Intermediate', 54, 54, 82, 68], ['172', 'Intermediate', 25, 25, 32, 59], ['173', 'Intermediate', 26, 26, 46, 85], ['174', 'Expert', 65, 65, 16, 63], ['175', 'Basic', 83, 83, 68, 19], ['176', 'Intermediate', 69, 69, 87, 84], ['177', 'Expert', 34, 34, 84, 23], ['178', 'Basic', 45, 45, 76, 65], ['179', 'Intermediate', 47, 47, 86, 65], ['180', 'Expert', 62, 62, 34, 75], ['181', 'Intermediate', 57, 57, 80, 56], ['182', 'Basic', 24, 24, 45, 54], ['183', 'Intermediate', 64, 64, 54, 75], ['184', 'Intermediate', 54, 54, 82, 51], ['185', 'Intermediate', 88, 88, 41, 65], ['186', 'Intermediate', 62, 62, 34, 75], ['187', 'Expert', 57, 57, 54, 56], ['188', 'Intermediate', 24, 24, 45, 54], ['189', 'Basic', 64, 64, 54, 55], ['190', 'Expert', 54, 54, 82, 51], ['191', 'Intermediate', 25, 25, 25, 59], ['192', 'Expert', 26, 26, 46, 85], ['193', 'Intermediate', 65, 65, 16, 63], ['194', 'Intermediate', 83, 83, 68, 19], ['195', 'Intermediate', 69, 69, 87, 84], ['196', 'Intermediate', 34, 34, 84, 23], ['197', 'Basic', 45, 45, 76, 65], ['198', 'Intermediate', 47, 47, 86, 65], ['199', 'Basic', 62, 62, 34, 75], ['200', 'Basic', 82, 75, 16, 91], ['201', 'Intermediate', 24, 24, 45, 54], ['202', 'Basic', 64, 64, 54, 55], ['203', 'Expert', 54, 54, 82, 51], ['204', 'Intermediate', 88, 88, 36, 65], ['205', 'Expert', 58, 58, 45, 70], ['206', 'Intermediate', 62, 62, 34, 75], ['207', 'Intermediate', 57, 57, 54, 56], ['208', 'Intermediate', 24, 24, 45, 54], ['209', 'Intermediate', 64, 64, 54, 55], ['210', 'Basic', 54, 54, 82, 51], ['211', 'Intermediate', 88, 88, 36, 65], ['212', 'Basic', 58, 58, 45, 70], ['213', 'Basic', 40, 40, 70, 67], ['214', 'Intermediate', 28, 28, 62, 47], ['215', 'Intermediate', 36, 36, 46, 30], ['216', 'Intermediate', 87, 87, 34, 78], ['217', 'Expert', 74, 74, 34, 34], ['218', 'Basic', 65, 65, 44, 87], ['219', 'Intermediate', 69, 69, 87, 84], ['220', 'Basic', 34, 34, 84, 23], ['221', 'Expert', 45, 45, 67, 65], ['222', 'Intermediate', 29, 29, 86, 76], ['223', 'Expert', 62, 62, 34, 75], ['224', 'Intermediate', 49, 49, 37, 76], ['225', 'Intermediate', 24, 24, 57, 54], ['226', 'Intermediate', 26, 26, 72, 46], ['227', 'Intermediate', 21, 21, 37, 12], ['228', 'Basic', 86, 86, 21, 38], ['229', 'Intermediate', 89, 89, 23, 28], ['230', 'Basic', 16, 16, 32, 42], ['231', 'Basic', 69, 69, 32, 77], ['232', 'Intermediate', 88, 88, 22, 66], ['233', 'Intermediate', 35, 35, 94, 44], ['234', 'Intermediate', 79, 79, 26, 84], ['235', 'Expert', 49, 49, 18, 54], ['236', 'Basic', 22, 22, 75, 12], ['237', 'Intermediate', 69, 69, 76, 76], ['238', 'Expert', 54, 54, 54, 82], ['239', 'Basic', 90, 90, 46, 36], ['240', 'Intermediate', 69, 69, 12, 29], ['241', 'Basic', 87, 87, 38, 80], ['242', 'Expert', 79, 79, 28, 20], ['243', 'Intermediate', 94, 94, 42, 34], ['244', 'Expert', 87, 87, 77, 84], ['245', 'Intermediate', 77, 77, 66, 21], ['246', 'Intermediate', 14, 14, 44, 39], ['247', 'Intermediate', 17, 17, 84, 68], ['248', 'Intermediate', 76, 76, 54, 14], ['249', 'Basic', 34, 34, 12, 78], ['250', 'Intermediate', 37, 37, 76, 17], ['251', 'Basic', 16, 75, 82, 62], ['252', 'Basic', 45, 91, 24, 75], ['253', 'Intermediate', 54, 54, 64, 24], ['254', 'Intermediate', 82, 55, 54, 64], ['255', 'Intermediate', 36, 51, 88, 54], ['256', 'Expert', 45, 65, 58, 88], ['257', 'Basic', 34, 70, 62, 58], ['258', 'Intermediate', 54, 75, 57, 62], ['259', 'Basic', 45, 56, 24, 57], ['260', 'Expert', 54, 54, 64, 24], ['261', 'Basic', 82, 55, 54, 64], ['262', 'Intermediate', 36, 51, 88, 54], ['263', 'Expert', 45, 65, 58, 88], ['264', 'Intermediate', 70, 70, 40, 58], ['265', 'Expert', 62, 67, 28, 40], ['266', 'Intermediate', 46, 47, 36, 28], ['267', 'Intermediate', 34, 30, 87, 36], ['268', 'Intermediate', 34, 78, 74, 87], ['269', 'Intermediate', 44, 34, 65, 74], ['270', 'Basic', 87, 87, 69, 65], ['271', 'Intermediate', 84, 84, 34, 69], ['272', 'Basic', 67, 23, 45, 34], ['273', 'Basic', 86, 65, 29, 45], ['274', 'Intermediate', 34, 76, 62, 29], ['275', 'Intermediate', 37, 75, 49, 62], ['276', 'Expert', 57, 76, 24, 49], ['277', 'Basic', 72, 54, 26, 24], ['278', 'Intermediate', 37, 46, 21, 26], ['279', 'Expert', 21, 12, 86, 21], ['280', 'Basic', 23, 38, 89, 86], ['281', 'Intermediate', 32, 28, 16, 89], ['282', 'Expert', 32, 42, 69, 16], ['283', 'Intermediate', 22, 77, 88, 69], ['284', 'Basic', 94, 66, 35, 88], ['285', 'Intermediate', 26, 44, 79, 35], ['286', 'Intermediate', 18, 84, 49, 79], ['287', 'Expert', 75, 54, 22, 49], ['288', 'Intermediate', 76, 12, 69, 22], ['289', 'Expert', 54, 76, 54, 69], ['290', 'Intermediate', 46, 82, 90, 54], ['291', 'Intermediate', 12, 36, 69, 90], ['292', 'Intermediate', 38, 29, 87, 69], ['293', 'Intermediate', 28, 80, 79, 87], ['294', 'Basic', 42, 20, 94, 79], ['295', 'Intermediate', 77, 34, 87, 94], ['296', 'Basic', 66, 84, 77, 87], ['297', 'Basic', 44, 21, 14, 77], ['298', 'Intermediate', 84, 39, 17, 14], ['299', 'Basic', 54, 68, 76, 17], ['300', 'Basic', 12, 14, 34, 76]]

In [162]:
l_data=pd.DataFrame(y,columns=['SID','BackgroundKnowledge','Active','Sensitive','Global','Visual'])

In [163]:
l_data.head(3)

  SID BackgroundKnowledge  Active  Sensitive  Global  Visual
0   1        Intermediate      70         40      51      60
1   2        Intermediate      60         70      40      20
2   3              Expert      47         62      28      49

In [164]:
l_data[l_data['SID']=='17']

   SID BackgroundKnowledge  Active  Sensitive  Global  Visual
16  17        Intermediate      59         25      25      79

In [165]:

def findKM():
    ldf=l_data
    Background=list(ldf['BackgroundKnowledge'].unique())
    def findBK(bk):
        return Background.index(bk)*100
    ldf['BackgroundKnowledge'] =ldf.apply(lambda x: findBK(x['BackgroundKnowledge']), axis=1)
    kmeans5 = KMeans(n_clusters=40, random_state=42)
    k_predictor= kmeans5.fit(ldf)
    ldf['s_class']=k_predictor.predict(ldf)
    return ldf

In [166]:
l_data=findKM()

In [167]:
l_data

     SID  BackgroundKnowledge  Active  Sensitive  Global  Visual  s_class
0      1                    0      70         40      51      60       35
1      2                    0      60         70      40      20        2
2      3                  100      47         62      28      49       27
3      4                  200      30         65      36      81        6
4      5                    0      78         34      87      23        2
..   ...                  ...     ...        ...     ...     ...      ...
292  296                  200      66         84      77      87       12
293  297                  200      44         21      14      77       24
294  298                    0      84         39      17      14       34
295  299                  200      54         68      76      17       17
296  300                  200      12         14      34      76       24

[297 rows x 7 columns]

In [186]:
id='199'

In [187]:
SID_ARRAY = l_data.groupby('s_class')['SID'].unique()[l_data[l_data['SID']==id]['s_class']]
len(SID_ARRAY)>=1

True

In [185]:
len(SID_ARRAY[l_data[l_data['SID']==id].iloc[0,6]].tolist()
)>=1

IndexError: single positional indexer is out-of-bounds

In [124]:
SID_ARRAY

s_class
3    [199, 200, 202, 212, 218, 228, 231, 241]
Name: SID, dtype: object

In [158]:
a=l_data[l_data['SID']==id].iloc[0,7]
a

3

In [133]:
SID_ARRAY[3]

array(['199', '200', '202', '212', '218', '228', '231', '241'],
      dtype=object)