In [2]:
import numpy as np
import pandas as pd

In [4]:
df=pd.read_excel("data.xlsx")

In [5]:
df

,Sid,Name,Age,Gender,Qualification,Branch,BackgroundKnowledge
0,1,L1,18,M,HS,Mathematics with Computer,Intermediate
1,2,L2,19,M,HS,Science,Intermediate
2,3,L3,17,M,HS,Mathematics with Computer,Expert
3,4,L4,19,M,HS,Science,Basic
4,5,L5,18,M,HS,Mathematics with Computer,Intermediate
...,...,...,...,...,...,...,...
295,296,L296,22,F,Graduate,BTech Information Technology,Basic
296,297,L297,23,F,Graduate,BTech Computer Science,Basic
297,298,L298,22,F,Graduate,BSc Computer Science,Intermediate
298,299,L299,22,F,Graduate,BTech Information Technology,Basic
299,300,L300,23,F,Graduate,BTech Computer Science,Basic

In [10]:
for r in df.itertuples():
    print(r)

Pandas(Index=0, Sid=1, Name='L1', Age=18, Gender='M', Qualification='HS', Branch='Mathematics with Computer', BackgroundKnowledge='Intermediate')
Pandas(Index=1, Sid=2, Name='L2', Age=19, Gender='M', Qualification='HS', Branch='Science', BackgroundKnowledge='Intermediate')
Pandas(Index=2, Sid=3, Name='L3', Age=17, Gender='M', Qualification='HS', Branch='Mathematics with Computer', BackgroundKnowledge='Expert')
Pandas(Index=3, Sid=4, Name='L4', Age=19, Gender='M', Qualification='HS', Branch='Science', BackgroundKnowledge='Basic')
Pandas(Index=4, Sid=5, Name='L5', Age=18, Gender='M', Qualification='HS', Branch='Mathematics with Computer', BackgroundKnowledge='Intermediate')
Pandas(Index=5, Sid=6, Name='L6', Age=18, Gender='M', Qualification='HS', Branch='Mathematics with Computer', BackgroundKnowledge='Expert')
Pandas(Index=6, Sid=7, Name='L7', Age=17, Gender='M', Qualification='HS', Branch='Science', BackgroundKnowledge='Basic')
Pandas(Index=7, Sid=8, Name='L8', Age=19, Gender='M', Qualification='HS', Branch='Mathematics with Computer', BackgroundKnowledge='Intermediate')
Pandas(Index=8, Sid=9, Name='L9', Age=18, Gender='M', Qualification='HS', Branch='Mathematics with Computer', BackgroundKnowledge='Expert')
Pandas(Index=9, Sid=10, Name='L10', Age=18, Gender='M', Qualification='HS', Branch='Science', BackgroundKnowledge='Intermediate')
Pandas(Index=10, Sid=11, Name='L11', Age=17, Gender='M', Qualification='HS', Branch='Mathematics with Computer', BackgroundKnowledge='Basic')
Pandas(Index=11, Sid=12, Name='L12', Age=18, Gender='M', Qualification='HS', Branch='Science', BackgroundKnowledge='Intermediate')
Pandas(Index=12, Sid=13, Name='L13', Age=18, Gender='M', Qualification='HS', Branch='Mathematics with Computer', BackgroundKnowledge='Intermediate')
Pandas(Index=13, Sid=14, Name='L14', Age=19, Gender='M', Qualification='HS', Branch='Mathematics with Computer', BackgroundKnowledge='Intermediate')
Pandas(Index=14, Sid=15, Name='L15', Age=17, Gender='M', Qualification='HS', Branch='Science', BackgroundKnowledge='Intermediate')
Pandas(Index=15, Sid=16, Name='L16', Age=19, Gender='M', Qualification='HS', Branch='Mathematics with Computer', BackgroundKnowledge='Expert')
Pandas(Index=16, Sid=17, Name='L17', Age=18, Gender='F', Qualification='HS', Branch='Science', BackgroundKnowledge='Intermediate')
Pandas(Index=17, Sid=18, Name='L18', Age=18, Gender='F', Qualification='HS', Branch='Mathematics with Computer', BackgroundKnowledge='Basic')
Pandas(Index=18, Sid=19, Name='L19', Age=17, Gender='F', Qualification='HS', Branch='Mathematics with Computer', BackgroundKnowledge='Expert')
Pandas(Index=19, Sid=20, Name='L20', Age=19, Gender='F', Qualification='HS', Branch='Science', BackgroundKnowledge='Intermediate')
Pandas(Index=20, Sid=21, Name='L21', Age=18, Gender='F', Qualification='HS', Branch='Mathematics with Computer', BackgroundKnowledge='Expert')
Pandas(Index=21, Sid=22, Name='L22', Age=18, Gender='F', Qualification='HS', Branch='Science', BackgroundKnowledge='Intermediate')
Pandas(Index=22, Sid=23, Name='L23', Age=17, Gender='F', Qualification='HS', Branch='Science', BackgroundKnowledge='Intermediate')
Pandas(Index=23, Sid=24, Name='L24', Age=19, Gender='F', Qualification='HS', Branch='Mathematics with Computer', BackgroundKnowledge='Intermediate')
Pandas(Index=24, Sid=25, Name='L25', Age=18, Gender='F', Qualification='HS', Branch='Science', BackgroundKnowledge='Intermediate')
Pandas(Index=25, Sid=26, Name='L26', Age=17, Gender='F', Qualification='HS', Branch='Mathematics with Computer', BackgroundKnowledge='Basic')
Pandas(Index=26, Sid=27, Name='L27', Age=18, Gender='F', Qualification='HS', Branch='Mathematics with Computer', BackgroundKnowledge='Intermediate')
Pandas(Index=27, Sid=28, Name='L28', Age=18, Gender='F', Qualification='HS', Branch='Science', BackgroundKnowledge='Basic')
Pandas(Index=28, Sid=29, Name='L29', Age=19, Gender='F', Qualification='HS', Branch='Mathematics with Computer', BackgroundKnowledge='Basic')
Pandas(Index=29, Sid=30, Name='L30', Age=17, Gender='F', Qualification='HS', Branch='Science', BackgroundKnowledge='Intermediate')
Pandas(Index=30, Sid=31, Name='L31', Age=22, Gender='M', Qualification='Graduate', Branch='BTech Computer Science', BackgroundKnowledge='Intermediate')
Pandas(Index=31, Sid=32, Name='L32', Age=24, Gender='M', Qualification='Graduate', Branch='BTech Information Technology', BackgroundKnowledge='Intermediate')
Pandas(Index=32, Sid=33, Name='L33', Age=21, Gender='M', Qualification='Graduate', Branch='BSc Computer Science', BackgroundKnowledge='Expert')
Pandas(Index=33, Sid=34, Name='L34', Age=25, Gender='M', Qualification='Graduate', Branch='BSc Computer Science', BackgroundKnowledge='Basic')
Pandas(Index=34, Sid=35, Name='L35', Age=23, Gender='M', Qualification='Graduate', Branch='BTech Information Technology', BackgroundKnowledge='Intermediate')
Pandas(Index=35, Sid=36, Name='L36', Age=22, Gender='M', Qualification='Graduate', Branch='BTech Computer Science', BackgroundKnowledge='Expert')
Pandas(Index=36, Sid=37, Name='L37', Age=21, Gender='M', Qualification='Graduate', Branch='BTech Information Technology', BackgroundKnowledge='Basic')
Pandas(Index=37, Sid=38, Name='L38', Age=24, Gender='M', Qualification='Graduate', Branch='BTech Computer Science', BackgroundKnowledge='Intermediate')
Pandas(Index=38, Sid=39, Name='L39', Age=22, Gender='M', Qualification='Graduate', Branch='BSc Computer Science', BackgroundKnowledge='Expert')
Pandas(Index=39, Sid=40, Name='L40', Age=22, Gender='M', Qualification='Graduate', Branch='BTech Computer Science', BackgroundKnowledge='Intermediate')
Pandas(Index=40, Sid=41, Name='L41', Age=24, Gender='M', Qualification='Graduate', Branch='BTech Information Technology', BackgroundKnowledge='Basic')
Pandas(Index=41, Sid=42, Name='L42', Age=23, Gender='M', Qualification='Graduate', Branch='BSc Computer Science', BackgroundKnowledge='Intermediate')
Pandas(Index=42, Sid=43, Name='L43', Age=22, Gender='M', Qualification='Graduate', Branch='BSc Computer Science', BackgroundKnowledge='Intermediate')
Pandas(Index=43, Sid=44, Name='L44', Age=21, Gender='M', Qualification='Graduate', Branch='BTech Information Technology', BackgroundKnowledge='Intermediate')
Pandas(Index=44, Sid=45, Name='L45', Age=24, Gender='M', Qualification='Graduate', Branch='BTech Computer Science', BackgroundKnowledge='Intermediate')
Pandas(Index=45, Sid=46, Name='L46', Age=22, Gender='M', Qualification='Graduate', Branch='BTech Information Technology', BackgroundKnowledge='Expert')
Pandas(Index=46, Sid=47, Name='L47', Age=23, Gender='M', Qualification='Graduate', Branch='BTech Computer Science', BackgroundKnowledge='Intermediate')
Pandas(Index=47, Sid=48, Name='L48', Age=21, Gender='M', Qualification='Graduate', Branch='BSc Computer Science', BackgroundKnowledge='Basic')
Pandas(Index=48, Sid=49, Name='L49', Age=23, Gender='M', Qualification='Graduate', Branch='BTech Information Technology', BackgroundKnowledge='Expert')
Pandas(Index=49, Sid=50, Name='L50', Age=22, Gender='M', Qualification='Graduate', Branch='BTech Computer Science', BackgroundKnowledge='Intermediate')
Pandas(Index=50, Sid=51, Name='L51', Age=23, Gender='M', Qualification='Graduate', Branch='BSc Computer Science', BackgroundKnowledge='Expert')
Pandas(Index=51, Sid=52, Name='L52', Age=23, Gender='M', Qualification='Graduate', Branch='BTech Computer Science', BackgroundKnowledge='Intermediate')
Pandas(Index=52, Sid=53, Name='L53', Age=22, Gender='M', Qualification='Graduate', Branch='BTech Information Technology', BackgroundKnowledge='Intermediate')
Pandas(Index=53, Sid=54, Name='L54', Age=22, Gender='M', Qualification='Graduate', Branch='BSc Computer Science', BackgroundKnowledge='Intermediate')
Pandas(Index=54, Sid=55, Name='L55', Age=24, Gender='F', Qualification='Graduate', Branch='BSc Computer Science', BackgroundKnowledge='Intermediate')
Pandas(Index=55, Sid=56, Name='L56', Age=23, Gender='F', Qualification='Graduate', Branch='BTech Information Technology', BackgroundKnowledge='Basic')
Pandas(Index=56, Sid=57, Name='L57', Age=21, Gender='F', Qualification='Graduate', Branch='BTech Computer Science', BackgroundKnowledge='Intermediate')
Pandas(Index=57, Sid=58, Name='L58', Age=22, Gender='F', Qualification='Graduate', Branch='BTech Information Technology', BackgroundKnowledge='Basic')
Pandas(Index=58, Sid=59, Name='L59', Age=23, Gender='F', Qualification='Graduate', Branch='BTech Computer Science', BackgroundKnowledge='Basic')
Pandas(Index=59, Sid=60, Name='L60', Age=22, Gender='F', Qualification='Graduate', Branch='BSc Computer Science', BackgroundKnowledge='Intermediate')
Pandas(Index=60, Sid=61, Name='L61', Age=21, Gender='F', Qualification='Graduate', Branch='BTech Computer Science', BackgroundKnowledge='Basic')
Pandas(Index=61, Sid=62, Name='L62', Age=23, Gender='F', Qualification='Graduate', Branch='BTech Information Technology', BackgroundKnowledge='Expert')
Pandas(Index=62, Sid=63, Name='L63', Age=22, Gender='F', Qualification='Graduate', Branch='BSc Computer Science', BackgroundKnowledge='Intermediate')
Pandas(Index=63, Sid=64, Name='L64', Age=22, Gender='F', Qualification='Graduate', Branch='BSc Computer Science', BackgroundKnowledge='Expert')
Pandas(Index=64, Sid=65, Name='L65', Age=23, Gender='F', Qualification='Graduate', Branch='BTech Information Technology', BackgroundKnowledge='Intermediate')
Pandas(Index=65, Sid=66, Name='L66', Age=24, Gender='F', Qualification='Graduate', Branch='BTech Computer Science', BackgroundKnowledge='Intermediate')
Pandas(Index=66, Sid=67, Name='L67', Age=24, Gender='F', Qualification='Graduate', Branch='BTech Information Technology', BackgroundKnowledge='Intermediate')
Pandas(Index=67, Sid=68, Name='L68', Age=22, Gender='F', Qualification='Graduate', Branch='BTech Computer Science', BackgroundKnowledge='Intermediate')
Pandas(Index=68, Sid=69, Name='L69', Age=23, Gender='F', Qualification='Graduate', Branch='BSc Computer Science', BackgroundKnowledge='Basic')
Pandas(Index=69, Sid=70, Name='L70', Age=22, Gender='F', Qualification='Graduate', Branch='BTech Computer Science', BackgroundKnowledge='Intermediate')
Pandas(Index=70, Sid=71, Name='L71', Age=23, Gender='F', Qualification='Graduate', Branch='BTech Information Technology', BackgroundKnowledge='Basic')
Pandas(Index=71, Sid=72, Name='L72', Age=23, Gender='F', Qualification='Graduate', Branch='BSc Computer Science', BackgroundKnowledge='Basic')
Pandas(Index=72, Sid=73, Name='L73', Age=22, Gender='F', Qualification='Graduate', Branch='BSc Computer Science', BackgroundKnowledge='Intermediate')
Pandas(Index=73, Sid=74, Name='L74', Age=21, Gender='F', Qualification='Graduate', Branch='BTech Information Technology', BackgroundKnowledge='Intermediate')
Pandas(Index=74, Sid=75, Name='L75', Age=24, Gender='F', Qualification='Graduate', Branch='BTech Computer Science', BackgroundKnowledge='Intermediate')
Pandas(Index=75, Sid=76, Name='L76', Age=25, Gender='M', Qualification='Post-Graduate', Branch='Master of Computer Applications', BackgroundKnowledge='Expert')
Pandas(Index=76, Sid=77, Name='L77', Age=24, Gender='M', Qualification='Post-Graduate', Branch='MTech Computer Science', BackgroundKnowledge='Basic')
Pandas(Index=77, Sid=78, Name='L78', Age=26, Gender='M', Qualification='Post-Graduate', Branch='MSc Computer Science', BackgroundKnowledge='Intermediate')
Pandas(Index=78, Sid=79, Name='L79', Age=24, Gender='M', Qualification='Post-Graduate', Branch='MSc Computer Science', BackgroundKnowledge='Basic')
Pandas(Index=79, Sid=80, Name='L80', Age=28, Gender='M', Qualification='Post-Graduate', Branch='MTech Computer Science', BackgroundKnowledge='Expert')
Pandas(Index=80, Sid=81, Name='L81', Age=27, Gender='M', Qualification='Post-Graduate', Branch='Master of Computer Applications', BackgroundKnowledge='Intermediate')
Pandas(Index=81, Sid=82, Name='L82', Age=29, Gender='F', Qualification='Post-Graduate', Branch='Master of Computer Applications', BackgroundKnowledge='Expert')
Pandas(Index=82, Sid=83, Name='L83', Age=24, Gender='F', Qualification='Post-Graduate', Branch='MTech Computer Science', BackgroundKnowledge='Intermediate')
Pandas(Index=83, Sid=84, Name='L84', Age=26, Gender='F', Qualification='Post-Graduate', Branch='MSc Computer Science', BackgroundKnowledge='Intermediate')
Pandas(Index=84, Sid=85, Name='L85', Age=25, Gender='F', Qualification='Post-Graduate', Branch='Master of Computer Applications', BackgroundKnowledge='Intermediate')
Pandas(Index=85, Sid=86, Name='L86', Age=27, Gender='F', Qualification='Post-Graduate', Branch='MTech Computer Science', BackgroundKnowledge='Intermediate')
Pandas(Index=86, Sid=87, Name='L87', Age=26, Gender='F', Qualification='Post-Graduate', Branch='MSc Computer Science', BackgroundKnowledge='Basic')
Pandas(Index=87, Sid=88, Name='L88', Age=25, Gender='F', Qualification='Post-Graduate', Branch='MSc Computer Science', BackgroundKnowledge='Intermediate')
Pandas(Index=88, Sid=89, Name='L89', Age=28, Gender='F', Qualification='Post-Graduate', Branch='MTech Computer Science', BackgroundKnowledge='Basic')
Pandas(Index=89, Sid=90, Name='L90', Age=26, Gender='F', Qualification='Post-Graduate', Branch='Master of Computer Applications', BackgroundKnowledge='Basic')
Pandas(Index=90, Sid=91, Name='L91', Age=27, Gender='F', Qualification='Post-Graduate', Branch='Master of Computer Applications', BackgroundKnowledge='Intermediate')
Pandas(Index=91, Sid=92, Name='L92', Age=25, Gender='F', Qualification='Post-Graduate', Branch='MTech Computer Science', BackgroundKnowledge='Intermediate')
Pandas(Index=92, Sid=93, Name='L93', Age=26, Gender='F', Qualification='Post-Graduate', Branch='MSc Computer Science', BackgroundKnowledge='Intermediate')
Pandas(Index=93, Sid=94, Name='L94', Age=25, Gender='F', Qualification='Post-Graduate', Branch='Master of Computer Applications', BackgroundKnowledge='Expert')
Pandas(Index=94, Sid=95, Name='L95', Age=24, Gender='F', Qualification='Post-Graduate', Branch='MTech Computer Science', BackgroundKnowledge='Basic')
Pandas(Index=95, Sid=96, Name='L96', Age=26, Gender='F', Qualification='Post-Graduate', Branch='MSc Computer Science', BackgroundKnowledge='Intermediate')
Pandas(Index=96, Sid=97, Name='L97', Age=25, Gender='F', Qualification='Post-Graduate', Branch='Master of Computer Applications', BackgroundKnowledge='Basic')
Pandas(Index=97, Sid=98, Name='L98', Age=27, Gender='F', Qualification='Post-Graduate', Branch='MTech Computer Science', BackgroundKnowledge='Expert')
Pandas(Index=98, Sid=99, Name='L99', Age=28, Gender='F', Qualification='Post-Graduate', Branch='MSc Computer Science', BackgroundKnowledge='Basic')
Pandas(Index=99, Sid=100, Name='L100', Age=29, Gender='F', Qualification='Post-Graduate', Branch='MSc Computer Science', BackgroundKnowledge='Intermediate')
Pandas(Index=100, Sid=101, Name='L101', Age=18, Gender='M', Qualification='HS', Branch='Mathematics with Computer', BackgroundKnowledge='Expert')
Pandas(Index=101, Sid=102, Name='L102', Age=17, Gender='M', Qualification='HS', Branch='Science', BackgroundKnowledge='Basic')
Pandas(Index=102, Sid=103, Name='L103', Age=19, Gender='M', Qualification='HS', Branch='Mathematics with Computer', BackgroundKnowledge='Intermediate')
Pandas(Index=103, Sid=104, Name='L104', Age=18, Gender='M', Qualification='HS', Branch='Mathematics with Computer', BackgroundKnowledge='Expert')
Pandas(Index=104, Sid=105, Name='L105', Age=18, Gender='M', Qualification='HS', Branch='Science', BackgroundKnowledge='Intermediate')
Pandas(Index=105, Sid=106, Name='L106', Age=17, Gender='M', Qualification='HS', Branch='Mathematics with Computer', BackgroundKnowledge='Basic')
Pandas(Index=106, Sid=107, Name='L107', Age=18, Gender='M', Qualification='HS', Branch='Science', BackgroundKnowledge='Intermediate')
Pandas(Index=107, Sid=108, Name='L108', Age=18, Gender='M', Qualification='HS', Branch='Mathematics with Computer', BackgroundKnowledge='Intermediate')
Pandas(Index=108, Sid=109, Name='L109', Age=19, Gender='M', Qualification='HS', Branch='Mathematics with Computer', BackgroundKnowledge='Intermediate')
Pandas(Index=109, Sid=110, Name='L110', Age=17, Gender='F', Qualification='HS', Branch='Mathematics with Computer', BackgroundKnowledge='Expert')
Pandas(Index=110, Sid=111, Name='L111', Age=19, Gender='F', Qualification='HS', Branch='Science', BackgroundKnowledge='Intermediate')
Pandas(Index=111, Sid=112, Name='L112', Age=18, Gender='F', Qualification='HS', Branch='Mathematics with Computer', BackgroundKnowledge='Expert')
Pandas(Index=112, Sid=113, Name='L113', Age=18, Gender='F', Qualification='HS', Branch='Science', BackgroundKnowledge='Intermediate')
Pandas(Index=113, Sid=114, Name='L114', Age=17, Gender='F', Qualification='HS', Branch='Science', BackgroundKnowledge='Intermediate')
Pandas(Index=114, Sid=115, Name='L115', Age=19, Gender='F', Qualification='HS', Branch='Mathematics with Computer', BackgroundKnowledge='Intermediate')
Pandas(Index=115, Sid=116, Name='L116', Age=18, Gender='F', Qualification='HS', Branch='Science', BackgroundKnowledge='Intermediate')
Pandas(Index=116, Sid=117, Name='L117', Age=17, Gender='F', Qualification='HS', Branch='Mathematics with Computer', BackgroundKnowledge='Basic')
Pandas(Index=117, Sid=118, Name='L118', Age=18, Gender='F', Qualification='HS', Branch='Mathematics with Computer', BackgroundKnowledge='Intermediate')
Pandas(Index=118, Sid=119, Name='L119', Age=18, Gender='F', Qualification='HS', Branch='Science', BackgroundKnowledge='Basic')
Pandas(Index=119, Sid=120, Name='L120', Age=19, Gender='F', Qualification='HS', Branch='Mathematics with Computer', BackgroundKnowledge='Basic')
Pandas(Index=120, Sid=121, Name='L121', Age=18, Gender='M', Qualification='HS', Branch='Mathematics with Computer', BackgroundKnowledge='Intermediate')
Pandas(Index=121, Sid=122, Name='L122', Age=19, Gender='M', Qualification='HS', Branch='Science', BackgroundKnowledge='Intermediate')
Pandas(Index=122, Sid=123, Name='L123', Age=17, Gender='M', Qualification='HS', Branch='Mathematics with Computer', BackgroundKnowledge='Expert')
Pandas(Index=123, Sid=124, Name='L124', Age=19, Gender='M', Qualification='HS', Branch='Science', BackgroundKnowledge='Basic')
Pandas(Index=124, Sid=125, Name='L125', Age=18, Gender='M', Qualification='HS', Branch='Mathematics with Computer', BackgroundKnowledge='Intermediate')
Pandas(Index=125, Sid=126, Name='L126', Age=18, Gender='M', Qualification='HS', Branch='Mathematics with Computer', BackgroundKnowledge='Expert')
Pandas(Index=126, Sid=127, Name='L127', Age=17, Gender='M', Qualification='HS', Branch='Science', BackgroundKnowledge='Basic')
Pandas(Index=127, Sid=128, Name='L128', Age=19, Gender='M', Qualification='HS', Branch='Mathematics with Computer', BackgroundKnowledge='Intermediate')
Pandas(Index=128, Sid=129, Name='L129', Age=18, Gender='M', Qualification='HS', Branch='Mathematics with Computer', BackgroundKnowledge='Expert')
Pandas(Index=129, Sid=130, Name='L130', Age=18, Gender='M', Qualification='HS', Branch='Science', BackgroundKnowledge='Intermediate')
Pandas(Index=130, Sid=131, Name='L131', Age=17, Gender='M', Qualification='HS', Branch='Mathematics with Computer', BackgroundKnowledge='Basic')
Pandas(Index=131, Sid=132, Name='L132', Age=18, Gender='M', Qualification='HS', Branch='Science', BackgroundKnowledge='Intermediate')
Pandas(Index=132, Sid=133, Name='L133', Age=18, Gender='M', Qualification='HS', Branch='Mathematics with Computer', BackgroundKnowledge='Intermediate')
Pandas(Index=133, Sid=134, Name='L134', Age=19, Gender='M', Qualification='HS', Branch='Mathematics with Computer', BackgroundKnowledge='Intermediate')
Pandas(Index=134, Sid=135, Name='L135', Age=17, Gender='M', Qualification='HS', Branch='Science', BackgroundKnowledge='Intermediate')
Pandas(Index=135, Sid=136, Name='L136', Age=19, Gender='M', Qualification='HS', Branch='Mathematics with Computer', BackgroundKnowledge='Expert')

In [12]:
df.to_numpy()

array([[1, 'L1', 18, ..., 'HS', 'Mathematics with Computer',
        'Intermediate'],
       [2, 'L2', 19, ..., 'HS', 'Science', 'Intermediate'],
       [3, 'L3', 17, ..., 'HS', 'Mathematics with Computer', 'Expert'],
       ...,
       [298, 'L298', 22, ..., 'Graduate', 'BSc Computer Science',
        'Intermediate'],
       [299, 'L299', 22, ..., 'Graduate', 'BTech Information Technology',
        'Basic'],
       [300, 'L300', 23, ..., 'Graduate', 'BTech Computer Science',
        'Basic']], dtype=object)

In [13]:
df1 = pd.DataFrame()

df1

Empty DataFrame
Columns: []
Index: []

In [14]:
df1['name']=['raju','thom','krishnada']

In [15]:
df1

        name
0       raju
1       thom
2  krishnada

In [28]:
data={'raju':'dad','thgrom':'sdds','krishnada':'sdds'}

In [34]:
df.head(10)

,Sid,Name,Age,Gender,Qualification,Branch,BackgroundKnowledge
0,1,L1,18,M,HS,Mathematics with Computer,Intermediate
1,2,L2,19,M,HS,Science,Intermediate
2,3,L3,17,M,HS,Mathematics with Computer,Expert
3,4,L4,19,M,HS,Science,Basic
4,5,L5,18,M,HS,Mathematics with Computer,Intermediate
5,6,L6,18,M,HS,Mathematics with Computer,Expert
6,7,L7,17,M,HS,Science,Basic
7,8,L8,19,M,HS,Mathematics with Computer,Intermediate
8,9,L9,18,M,HS,Mathematics with Computer,Expert
9,10,L10,18,M,HS,Science,Intermediate

In [26]:
df.

In [25]:
data = {'Name': ['Jai', 'Princi', 'Gaurav', 'Anuj'], 
        'Height': [5.1, 6.2, 5.1, 5.2], 
        'Qualification': ['Msc', 'MA', 'Msc', 'Msc']}

In [27]:
df1

     Name  Height Qualification
0     Jai     5.1           Msc
1  Princi     6.2            MA
2  Gaurav     5.1           Msc
3    Anuj     5.2           Msc